
header{
    margin-bottom: 15px;
    background-color:#7aac88;
    display:flex;
    color:white;
    padding:10px;
    align-items:center;
}
header img{
    border-radius:50%;
}
header h1{
    font-size:1.2em;
    margin:0;
    padding:0;
}
header h2{
    font-size:1.0em;
    margin-top:35px;
    margin-left:5px;
    position: relative;
    top:10px;
    
}
header nav{
    margin-top:20px;
    display:flex;
    margin-left:auto;
}
header nav a{
    text-decoration:underline;
    color:white;
    font-size:18px;
    padding:9px 4px;
    border-radius:29px;
    margin-left:15px;
}
header nav a:hover{
    background-color:#ddcabd;
}
main{
    padding-bottom: 35px;
    background-color: rgb(190, 201, 201);
}
main,h3{
    text-align:center;
    font-size:15px;
    padding-top: 2px;
}
main,h4{
    text-align:center;
    font-size:15px;
}
table{
    width: 80%;
    height:50px;
    margin: 10px 0;
    margin-left: 100px;  
    border:1px solid black; 
}
th,td{
    border:1px solid black;
    padding:14px;
    text-align:center;
    border-bottom:1px solid #2e2d2d;

}
th{
    background-color:#b6b1b1;
    color:#39545c;
    font-size:15px;
    border: 1px solid black;
}
footer h4{

    color:#28a745;
    font-size:15px;
}
footer a{
    color: #0b7f17;
}
footer a:hover{
    background-color: rgb(10, 238, 101);
    border-radius: 20px;
}
footer h4{
    font-size: 15px;
    padding-top:10px;
    margin-top: 10px;
}
footer p{
    font-size:16px;
}
footer{
    background-color:#ddcadb;
    color:white;
    padding:1px o;
    text-align:center;
    font-size:1rem;
    position:relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

