@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/* Reset de márgenes y paddings para eliminar espacios innecesarios */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  /* Fuentes y colores básicos */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  /* Estilo para el header */
  .boton {
    display: inline-block;  /* Hace que el enlace se comporte como un bloque en línea */
    padding: 10px 20px;  /* Espaciado interno del botón */
    background-color: #302b80;  /* Color de fondo */
    color: #fff;  /* Color del texto */
    text-align: center;  /* Alinea el texto al centro */
    text-decoration: dotted;  /* Estilo del subrayado (puede ser solid, dotted, dashed)*/
    border-radius: 20px;  /* Bordes redondeados */
    font-size: 9px;  /* Tamaño de la fuente */
    transition: background-color 0.3s ease;  /* Transición suave para el hover */
    margin-left: 2px;
}
footer, footer * {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex; /* Usamos flexbox para organizar los elementos en una fila */
  align-items: center; /* Alinea verticalmente los elementos al centro */
  justify-content: space-between;
  background-color: #7aac88; /* Color de fondo */
  margin-bottom: 15px; 
  color: #fff; /* Color del texto */
  padding: 10px;
    margin: 8px 8px 8px 8px; /* Margen exterior: arriba 0, derecha 40px, abajo 0, izquierda 40px */

  }
  
  header img {
    border-radius: 50%; /* Bordes redondeados para el logo */
  }
  
  header h1 {
    font-size: 1.5em; /* Ajusta el tamaño de la fuente del h1 */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    
   
  }
  
  header h2 {
    font-size: 1.0em; /* Ajusta el tamaño de la fuente del h2 */
    margin-left: 0; /* Separa el h2 hacia la derecha desde el borde */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
     position: relative;
    top:10px;
    

  }
header nav {
    display: flex; /* Activa flexbox */
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    width: 100%; /* Asegura que el nav ocupe todo el espacio disponible */
}
  header h2, header h1 {
    font-style: italic;
  }
  * Estilos para los videos */

.video-container {
    display: flex;
    flex-wrap: wrap;  /* Permite que los videos se ajusten a una nueva fila si no caben en una */
    justify-content: space-between;  /* Espacia los videos en la fila */
    gap: 5px;  /* Añade espacio entre los videos */
    box-shadow:0 4px 8px rgba(245, 9, 9, 0.1);
    padding:20px;
    border-radius:10px;
    margin-bottom: 20px;
}

.video-container video {
    width: 48%;  /* Cada video ocupará el 48% del contenedor (espacio suficiente para dos por fila) */
    border-radius:8px;
    box-shadow:0 4px 6px rgba(87, 23, 234, 0.1);
    transition: transform 0.3s ease,box-shadow 0.3s ease;
    margin-left: 10px;  /* Espacio adicional a la izquierda */
    border:2px solid #141414;
}
main{
  background-color: #f2f1f5;
  margin-left: 10px;
  margin-right: 10px;

}
/* Efecto al pasar el mouse */
.video-container video:hover {
  transform: scale(1.05);  /* Hace que el video crezca un poco al pasar el mouse */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Aumenta la sombra para dar un efecto de elevación */
}

/* Opcional: Para centrar los títulos si deseas */
h5 {
    text-align: center;
    margin-top: 20px;
    color:#2c3e50;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
  /* Estilos para el footer */
footer {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 100px;
    text-align: center;
  
  }
div class,h4,h3{
  color:#549990;  
}
p{
  color: #66b0e0;
}

  footer .footer-contenido {
    display: list-item;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
  }
  footer .footer-contenido div {
    flex: 1;
    min-width: 250px;
  }
  footer .footer-contacto a, footer .footer-redes a {
    color: #0c95f0;
    text-decoration: underline;
  }
  footer .footer-contacto a:hover, footer .footer-redes a:hover {
    text-decoration: underline;
  }
  footer .footer-info p, footer .footer-contacto p {
    font-size: 1em;
    margin: 10px 0;
  }
  /* Estilos para el mapa */
footer iframe {
    border-radius: 8px;
  }
  /* Estilos para el horario de atención */
.horarios {
    margin-top: 20px;
  }
  .horario-item {
    font-size: 1.0em;
    color: #ecf0f1;
  }
  /* Estilos para el copyright */
.footer-copyright {
    margin-top: 20px;
    font-size: 0.9em;
    color: #bdc3c7;
  }
    
  /* Estilos generales para la barra de navegación */
body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: initial;
  align-items: center;
  background-color:   #2c3e50; 
  padding: 5px 20px;

}

.boton {
  color: white;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

.boton:hover {
  background-color:  #5d4037;
}

.menu {
  flex-wrap: wrap;
  display: flex;
  justify-content:space-between;
  list-style: none;
  padding:5px;
  margin:15px;
  background-color: #716767;
  font-family:'Lato', sans-serif;
}
.menu a {
  font-family: 'Lato', sans-serif;  /* Aplica la tipografía Lato a todos los enlaces */
  text-decoration: none;           /* Elimina el subrayado de los enlaces */
  color: inherit;                  /* Asegura que el color de los enlaces sea heredado o ajustado a tus preferencias */
  font-size: 16px;                 /* Ajusta el tamaño de la fuente según tus necesidades */
  padding: 10px;                   /* Ajusta el espaciado de los enlaces */
}
.menu li {
  position: relative;
  flex:1 1 auto;
  text-align:center;
}
.submenu-items {
  display: none;
  list-style: none;
  position: absolute;
  background-color: #333;
  top: 100%;
  left: 0;
  padding: 0; 
}

.submenu:hover .submenu-items {
  display: block;
  
}

/* Estilos del menú hamburguesa */
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
  .boton {
    color: white;
    font-size: 15px;
    text-decoration: underline;
    padding: 10px 20px;
    display: block;
  }
/* Estilos para el submenú */
.submenu-items {
  display: none; /* Oculta el submenú por defecto */
  background-color: transparent;;
  left: 40px; /*tamaño de los submenus */
}
/* Mostrar el submenú cuando el ratón pasa sobre el elemento padre */
.submenu:hover .submenu-items {
  display: blocks;
}

/* Estilos para los botones dentro del submenú */
.submenu-items .boton {
  font-size: 12px;  /* Tamaño de fuente más pequeño */
  padding: 3px 12px; /* Relleno más pequeño */
  background-color: #444; /* Color de fondo para los botones del submenú */
  border-radius: 20px; /* Bordes redondeados */
  color: white; /* Color de texto blanco */
  width: 100%; /* Hace que los botones del submenú ocupen todo el ancho disponible */
  margin-bottom: 10px;
  white-space: nowrap;

}
/* Estilo de hover para los botones dentro del submenú */
.submenu-items .boton:hover {
  background-color: #666; /* Color de fondo cuando el ratón pasa por encima */
}
/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  header {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:center;
    width: 100%;
    text-align: left;

  }
header h1, h2 {
  font-size:1em;
  white-space: normal;
}
  .video-container {
      align-items: center;  /* Alinea los videos al centro en pantallas pequeñas */
  }
  .video-container video {
      width: 100%;  /* Los videos ocuparán el 100% del ancho en pantallas pequeñas */
  }
  .menu {
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
  }
  .menu li {
    width: 100%;
    text-align:center;
    margin:5px 0;
  }
  .submenu-items {
    position: static;
    display: none;
    width:100%; 
  }
  .submenu:hover .submenu-items {
    display: block;
  }
  
}